version: "3.8"
services:
  app:
    build: .
    volumes:
      - .:/django  
    ports:
      - "8000:8000"
    image: application:django
    container_name: Library_container
    environment:
      DEBUG: "False"
      ALLOWED_HOSTS: "0.0.0.0,localhost"
      JWT_ALGORITHM: "HS256"

